

<mat-card>
  <mat-label style="font-size: x-large !important; color:darkslateblue"> <strong>CONSULTA DE FONDOS SIFI</strong></mat-label>
<!--a style="position: absolute; margin: 0 70%; background-color: dimgray !important;" (click)="back()" mat-raised-button color="primary" type="submit" class="btn btn-info">
<span class="glyphicon glyphicon-log-in"></span> Volver
</a-->
</mat-card>
<app-conscedula></app-conscedula>

 <!--<h1>El titulo de la web es : </h1>
  <h1>{{title}}</h1>
  <br><br>
  <h3>La descripcion de la web es : </h3>
<h1>{{descripcion}}</h1>-->






